.wrapper

%html
  %head
    %meta{"charset":"UTF-8"}
    %title Life Plan

  %body
    %header
      %h1.Title ライフプランシュミレーション
      .navbar
        .nav-link ユーザ名
        = current_user.name
      .nav-lists
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
    .Main-box
      %h2.heading-name 収入について
      .messages
        .message
          = form_with(model: @incomes, url: new_income_path(@income)) do |form|
            %p= form.label :total_income, "年収"
            = form.text_field :total_income, placeholder: ""
            %p= form.label :total_income, "所得税"
            = form.text_field :total_income, placeholder: ""
      %h3.heading-name 支出について
      .messages
        .message
          = form_with(model: @incomes, url: new_income_path(@income)) do |form|
            %P= form.label :living, "生活費"
            = form.text_field :name, placeholder: ""
            %p= form.label :living, "住宅関連費"
            = form.text_field :name, placeholder: ""
            %p= form.label :living, "交通費"
            = form.text_field :name, placeholder: ""
            %p= form.label :living, "教育費"
            = form.text_field :name, placeholder: ""
            %p= form.label :living, "保険料"
            = form.text_field :name, placeholder: ""
            %p= form.label :living, "その他"
            = form.text_field :name, placeholder: ""
            %p= form.submit "シュミレーションする", class: 'form-button'
