.wrapper
  %header
    .content.header-page
      %h1 シュミレーション結果
      .navbar
        .nav-user ユーザ名 :&nbsp
        = current_user.name
      .nav-link
      = link_to "Edit", destroy_user_session_path, method: :delete, class: 'Button'
  .advance
    .graph
      = line_chart @graph
  .advance
    .graph
      = line_chart @balance, colors: ["#66CC33", "#666"]

.btn-2
  = link_to "トップに戻る", root_path, class: "SubmitBtn"

-# = @payment
-# 年齢
-# = "#{@income.loanrate}"
-# 年収
-# = "#{@income.total_income}"
-# 貯蓄
-# = "#{@income.saving}"
-# housing
-# = "#{@income.housing}"
-# transportation
-# = "#{@income.transportation}"
-# event
-# = "#{@income.event}"